<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./include/header") %>
    <title>Express SSR Application | 404 Not Found!</title>
  </head>
  <body class="w-full h-screen flex items-center justify-center flex-col">
    <pre>404 | Not Found!</pre>
    <a href="/" class="mt-4">Back Home!</a>
  </body>
</html>
