<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./include/header") %>
    <link rel="stylesheet" href="/assets/login.css" />
    <script src="/lib/three.min.js"></script>
    <script src="/lib/vanta.waves.min.js"></script>
    <title>Express SSR Application | Login</title>
  </head>
  <body>
    <main class="w-full h-screen" id="root"></main>
    <script src="/assets/login.js"></script>
  </body>
</html>
