<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./include/header") %>
    <link rel="stylesheet" href="/assets/register.css" />
    <title>Express SSR Application | Register</title>
  </head>
  <body class="bg-system-light dark:bg-system-dark dark:text-white">
    <main class="w-full h-screen flex items-stretch justify-center">
      <%- include("./include/registerForm") %> <%- include("./include/registerSlider") %>
    </main>
    <script src="/js/register.js"></script>
  </body>
</html>
