<!-- NOTE parent element should have position relative and overflow hidden -->
<div class="particle w-52 h-52 rounded-[50%] top-[-90px] left-[-60px]"></div>

<div
  class="particle p-half-circle rotate-[140deg] top-[30px] right-[20%] hidden md:block lg:hidden"
></div>

<div class="particle w-60 h-60 sm:w-72 sm:h-72 rounded-[50%] top-[15%] right-[-20%]"></div>

<div
  class="particle p-half-circle -rotate-45 bottom-[8%] right-[20%] mm:right-[8%] md:!right-[20%] lg:!right-[8%]"
></div>

<div
  class="particle p-half-circle rotate-6 bottom-[12%] left-[10%] mm:left-[4%] md:!left-[15%] lg:!left-[4%]"
></div>

<div
  class="particle w-32 h-32 rounded-[50%] top-[50%] left-[-30px] hidden md:block lg:hidden"
></div>
